.redactor-editor {
  outline:none;
  border: 0 none;
  position: relative;
  overflow: auto;
  margin: 0 !important;
  // padding: 20px;
  white-space: normal;
  // border: 1px solid #eee;
  // font-family: @redactorFontFamily;
  // font-size: @redactorFontSize;
  // line-height: @redactorLineHeight;
  &:focus {
    outline: none;
  }
}

.redactor-toolbar{
  box-shadow:none;
  text-align:left !important;
  li{
    background-image:none;
    a{
      padding: 9px 10px !important;
      color: #333 !important;
      font-size: 18px !important;
      font-weight: 300 !important;
    }
  }
}
.redactor_box textarea{
  min-height:100px
}
.redactor-box,
.redactor-toolbar{
  background:transparent;
  clear:both;
  .toolbar-fixed-box{
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    background:#fff;
  }
}

.re-icon {
  font-family: 'RedactorFont' !important;
}
#redactor-modal{
  header{
    background:transparent;
    border:0 none;
    height:auto;
    box-shadow:none;
  }
  footer{
    background:none;
    padding:0;
    border:0;
    min-height:0;
    button{
      border-radius:0;
      background-image:none;
      text-shadow:none;
    }
  }
  input[type="file"],
  input[type=radio],
  input[type=checkbox]{
    display:inline-block;
  }
}

#redactor-modal-close{
  z-index: 30;
}

div#redactor-image-manager-box{
  img{
    margin: 0 10px 10px 0;
    width: 95px !important;
    height: auto !important;
    vertical-align: middle;
    &:nth-child(6n+6){
      margin-right: 0;
    }
  }
}

// Overriding main Servee styles. Move over to that project on next update

#servee_container .form-row>div{
  margin-left: 0;
  margin-right: 0;
}
#servee_container .form-row>div label{
  display:block;
  &[for="id_content"]{
    display:none;
  }
}



.CodeMirror pre{
  font-size: 12px;
}