.redactor_editor {
  outline:none;
}
.redactor_toolbar{
  box-shadow:none;
}
.redactor_box textarea{
  min-height:100px
}
.redactor_box,
.redactor_toolbar{
  background:transparent;
  .toolbar_fixed_box{
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    background:#fff;
  }
}



#redactor_modal header{
	background:transparent;
	border:0 none;
}
#redactor_modal footer{
	background:none;
	padding:0;
	border:0;
}